@import "normalize";

@import "bits";
@import "functions";
@import "base";
@import "grid";
@import "typography";
@import "share-button";

html {
  background-color: color(white);
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.vertical-align--table {
  width: 100%;
  height: 100%;
  display: table;
  .vertical-align--table-cell{
    display: table-cell;
    vertical-align: middle;
  }
}

html, body {
  //height: 100%;
  text-align: center;
}

.grid{
  margin: base(2) 0;

  div {
    height: base(2);
    margin-bottom: $gutter-width;
    background-clip: content-box;
    background-color: darken(color(white), 12);  
  }
}

body {
  //height: 100%;
}

header {
  left: 0;
  width: 100%;
  background: white url('../images/lightpaperfibers_@2X.png');
  background-size: 500px 300px;
  height: 85px;
  position: relative;
  top: 0;
  z-index: 1;
  box-shadow: 0 3px 20px rgba(color(black), .5);

  .header-container {
    padding: 0 2em;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    text-align: left;
    display: table;
    position: relative;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }  
  }

  #excels-logo {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 2em;
    transform: translate(0,-50%);
    transition: transform .5s, top .5s, left .5s, visibility .5s, opacity .5s;

    #excels-tagline {
      font-size: .8em;
      color: color(black);
      margin: 0;
      line-height: 1.25em;
      display: none;
    }

    img {
      width: 240px;
      transition: width .5s;
    }

  }

  #title {
    font-family: "verveine";
    color: color(dark-blue);
    font-size: 2.8em;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 2px 2px 0 color(light-blue);
    position: relative;
    top: 5px;
    transform: scale(1,1);
    transition: transform .5s, font-size .5s;

    small {
      font-size: .6em;
      position: relative;
      top: -3px;
    }
  }

  &.header-intro {
    #title {
      transform: scale(0,0);
    }

    #excels-logo {
      visibility: visible;
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      #excels-tagline {
        display: block;
      }
      img {
        width: 200px;
      }
    }
  }
  @media screen and (max-width: 630px) {
    #excels-logo {
      img {
        width: 160px;
      }
    }
    #title {
      font-size: 1.85em;
    }
    @media screen and (max-width: 445px) {
      #excels-logo {
        visibility: hidden;
        opacity: 0;
      }
      #title {
        width: 100%;
        text-align: center;
        font-size: 2.5em;
      }
    }
  }
}

.cta {
  @include cta(dark-blue);
  position: relative;
  z-index: 1;

  &:hover {
    padding: 1.1em 2.5em;
    letter-spacing: .05em;
  }

  &:before {
    content: '';
    background: white url('../images/lightpaperfibers_@2X.png');
    background-size: 500px 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 30px;
    z-index: -1;
  }

  &:after {
    content: '';
    border: 1px solid color(dark-blue);
    position: absolute;
    left: 6px;
    right: 6px;
    top: 6px;
    bottom: 6px;
    border-radius: 30px;
    transition: background .2s;
    z-index: -1;
  }

  &:hover:after {
    background: color(light-blue);
  }

  &.cta-hidden {
    opacity: 0;
    visibility: hidden;
  }
  @media screen and (max-width: 880px) {
    font-size: .95em;
  }
}

.unstaged-image {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

.snowball-bg {
  background: url('../images/ui/ui-snowball.png') center no-repeat;
  background-size: contain;
  padding: 3% 12%;
  margin: 0 auto 2em;
}

.cta-container {
  margin-top: 2.5em;
}

#intro-scene {
  background: color(dark-blue) url('../images/scene-night.jpg') top center no-repeat;
  background-size: cover;
  position: absolute;
  top: 85px;
  bottom: 0;
  width: 100%;
  z-index: 2;

  #intro-scene-title-container {
    width: 100%;
    height: 100%;
    display: table;

    #intro-scene-title {
      display: table-cell;
      vertical-align: middle;

      #intro-scene-title-inner-container {
        width: 75%;
        margin: 0 auto;
        max-width: 1200px;
        #intro-scene-snowball {
          text-align: center;
          padding: 4.5em;
          h1 {
            padding-top: .25em;
            small {
              font-size: .7em;
            }
          }
        }
      }
      p {
        width: 75%;
        font-size: 1.1em;
        margin-left: auto;
        margin-right: auto;
      }
    }
    #msde-link {
      position: absolute;
      bottom: 2em;
      left: 2em;
      img {
        width: 125px;
        transition: width .5s;
      }
    }
    #cte-link {
      position: absolute;
      bottom: 2em;
      right: 2em;
      img {
        width: 185px;
        padding: .5em;
        background: rgba(255,255,255,.85);
        border-radius: 2px;
        transition: width .5s;
      }
    }
  }
  @media screen and (min-aspect-ratio: 16/10) {
    #intro-scene-title-container #intro-scene-title #intro-scene-title-inner-container #intro-scene-snowball {
      padding: 3em;
    }
  }
  @media screen and (max-width: 992px) {
    #intro-scene-title-container #intro-scene-title #intro-scene-title-inner-container #intro-scene-snowball {
      padding: 4em;
      h1 {
        font-size: 3em;
        padding-top: .5em;
      }
    }
    #msde-link {
      img {
        width: 110px;
      }
    }
    #cte-link {
      img {
        width: 150px;
      }
    }
  }
  @media screen and (max-width: 680px) {
    #intro-scene-title-container {
      #intro-scene-title {
        #intro-scene-title-inner-container {
          width: 100%;
          padding: 0 2em;
          #intro-scene-snowball {
            padding: 2.5em;
            h1 {
              font-size: 2.5em;
            }
            p {
              width: 100%;
            }
          }
        }
      }
      #msde-link, #cte-link {
        display: none;
      }
    }
  }
}

#build-scene {
  position: relative;
  width: 100%;
  overflow: hidden;

  .background-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  #snowman-offscreen-download-canvas {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #background-slide-1 {
    background: white url('../images/scene-classic.jpg') center;
    background-size: cover;
  }
  #background-slide-2 {
    background: white url('../images/scene-future.jpg') center;
    background-size: cover;
  }
  #background-slide-3 {
    background: white url('../images/scene-western.jpg') center;
    background-size: cover;
  }

  #build-buttons-container {
    width: 75%;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 85px;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,-50%) scale(1,1);
    transition: transform .5s, opacity .5s, visibility .5s;

    #build-button-prev {
      float: left;
      box-shadow: -3px 3px 10px rgba(color(black), .5);
    }

    #build-button-next {
      float: right;
      box-shadow: 3px 3px 10px rgba(color(black), .5);
    }

    .build-button {
      -webkit-appearance: none;
      appearance: none;
      background: whitesmoke url('../images/lightpaperfibers_@2X.png');
      background-size: 500px 300px;
      border: none;
      border-radius: 100%;
      width: 70px;
      height: 70px;
      padding: 8px;
      transition: width .2s, height .2s, box-shadow .2s;
      vertical-align: middle;

      &:hover {
        width: 76px;
        height: 76px;

        .build-button-inner {
          line-height: 107%;
          background: color(light-blue);
        }
      }

      &:focus {
        outline: none;
      }

      .build-button-inner {
        height: 100%;
        width: 100%;
        border: 1px solid color(light-gray);
        border-radius: 100%;
        color: color(dark-blue);
        font-size: 50px;
        line-height: 100%;
        text-align: center;
        font-family: "verveine";
        transition: line-height .2s, background .2s;
      }
    }
    @media screen and (max-width: 880px) {
      .build-button {
        width: 48px;
        height: 48px;
        padding: 6px;
        .build-button-inner {
          font-size: 34px;
        }
      }
    }
  }

  #js-audio-mute {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 2em;
    background: rgba(255,255,255,.85);
    border: 1px solid color(light-gray);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1em 2em .75em 1em;
    width: 92px;
    height: 65px;
    transition: background .2s;

    svg {
      path {
        stroke: color(dark-blue);
        stroke-width: 4;
        fill: none;
      }
    }

    &:hover {
      background: color(light-blue);
    }

    .muted-path {
      visibility: hidden;
    }

    &.volume-muted {
      .loud-path, .normal-path, .quiet-path {
        visibility: hidden;
      }
      .muted-path {
        visibility: visible;
      }
    }
    @media screen and (max-width: 992px) {
      width: 75px;
      height: 45px;
      padding: .7em 2em .5em .5em;
    }
  }

  .js-to-share-mode {
    position: absolute;
    left: auto;
    right: 2em;
    top: 2em;
  }

  .js-back-to-build-mode {
    position: absolute;
    left: auto;
    left: 2em;
    top: 2em;
  }

  &.build-scene-inactive {
    #build-buttons-container {
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%,-50%) scale(0,0);
    }
  }

  .end-scene-title {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50%;
    padding: 0 2em;
    transform: translate(0,-50%);
    transition: transform .5s;

    .end-scene-snowball {
      width: 100%;
      padding: 14%;
      margin-bottom: 4em;

      h2 {
        width: 50%;
        margin: 0 auto;
        font-size: 2em;
      }
    }
    .cta-container {
      margin: 0 auto;
      width: 100%;
      text-align: center;
      a, .js-share {
        display: inline-block !important;
        width: 65%;
        max-width: 500px;
        margin: 0 auto;

        &.js-download {
          margin-bottom: 1.5em;
        }

        &.js-back-to-build-mode {
          position: relative;
          top: 0;
          left: 0;
        }

        &:hover {
          width: 70%;
          padding: 1em 2.25em; 
        }
      }
    }
    &.end-title-inactive {
      transform: translate(200%,-50%);
    }

    @media screen and (max-width: 1576px) {
      .end-scene-snowball {
         padding: 10%;
          margin-bottom: 2em;
        h2 {
          width: 40%;
          font-size: 1.5em;
          line-height: 1.1em;
        }
        .larger-text {
          font-size: 1.25em;
        }
      }
    }

    @media screen and (min-aspect-ratio: 16/9) {
      .end-scene-snowball {
        padding: 10%;
        margin-bottom: 2em;
        h2 {
          width: 40%;
          font-size: 1.5em;
          line-height: 1.1em;
        }
        .larger-text {
          font-size: 1.25em;
        }
      }
    }

    @media screen and (max-width: 1151px) {
      width: 60%;
      @media screen and (min-aspect-ratio: 4/3) {
        .end-scene-snowball {
          padding: 6%;
        }
      }
      @media screen and (max-width: 880px) {
        width: 100%;
        .end-scene-snowball {
          h1 {
            padding-top: .25em;
          }
          img {
            display: none;
          }
        }
      }
    }
  }
}

#build-toolbar {
  position: relative;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  height: 120px;
  display: block;
  background: whitesmoke url('../images/lightpaperfibers_@2X.png');
  background-size: 500px 300px;
  box-shadow: 0 -3px 20px rgba(color(black), .5);

  #build-toolbar-container {
      width: 100%;
      height: 100%;
      max-width: 1440px;
      margin: 0 auto;
    #build-toolbar-button-container {
      display: table;
      width: 100%;
      height: 100%;
      border-left: 1px solid color(light-gray);
      border-right: 1px solid color(light-gray);
      background: rgba(color(blue-white),.5);
      transform: translate(0,0);
      transition: transform .2s;

      .build-toolbar-button {
        position: relative;
        display: table-cell;
        width: (100 / 7) * 1%;
        vertical-align: middle;
        border-right: 1px solid color(light-gray);
        background: none;
        transition: background .2s;

        &:hover {
          background: rgba(color(light-blue), .35);
          cursor: pointer;
        }

        &.build-toolbar-button-active {
          background: color(light-blue);
          border-top: 2px solid color(dark-blue);
          text-align: center;

          &:before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            width: 0; 
            height: 0;
            left: 50%;
            margin-left: -8px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;            
            border-top: 8px solid color(dark-blue);
          }
        }

        &.build-toolbar-last-button {
          border-right: none;
        }
      }
    }

    #testing-indicator {
      font-size: 2em;
      position: absolute;
      text-align: center;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translate(0,300%);
      transition: transform .5s;
      animation: loading .65s ease-in-out infinite alternate;
    }

    #excels-message-container {
      width: 100%;
      height: 100%;
      position: absolute;
      text-align: center;
      left: 0;
      top: 50%;
      transform: translate(0,300%);
      transition: transform .5s;
      display: table;

      p {
        display: table-cell;
        padding-left: 2em;
        vertical-align: middle;
        width: 50%;
        text-align: left;
        .excels-message-normal-name {
          display: inline;
        }
        .excels-message-cta-name {
          display: none;
          a {
            color: color(excels-red);
            text-decoration: underline;
          }
        }
      }

      #excels-cta-container {
        display: table-cell;
        vertical-align: middle;
        padding-right: 2em;
        padding-left: 2em;

        .cta-excels {
          color: white;
          display: inline-block;
          width: 65%;
          max-width: 500px;
          //float: right;

          &:before {
            content: '';
            background: color(excels-red);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 30px;
            z-index: -1;
          }

          &:after {
            content: '';
            border: 1px solid color(white);
            position: absolute;
            left: 6px;
            right: 6px;
            top: 6px;
            bottom: 6px;
            border-radius: 30px;
            transition: background .2s;
            z-index: -1;
          }

          &:hover {
            width: 70%;
            padding: 1em 2.25em;
          }

          &:hover:after {
            background: darken(color(excels-red), 8);
          }
        }
      }
      @media screen and (max-width: 1151px) {
        #excels-cta-container {
          width: 60%;
        }
        p {
          width: 40%;
        }
        @media screen and (max-width: 880px) {
          #excels-cta-container {
            display: none;
            width: 100%;
          }
          p {
            width: 100%;
            text-align: center;
            padding-right: 2em;
            .excels-message-normal-name {
              display: none;
            }
            .excels-message-cta-name {
              display: inline;
            }
          }
        }
      }
    }
  }

  &.build-toolbar-inactive {
    #build-toolbar-container #build-toolbar-button-container {
      transform: translate(0,100%);
    }
    #build-toolbar-container #testing-indicator {
      transform: translate(0,-50%);
    }
  }

  &.build-toolbar-excels-cta {
    #build-toolbar-container #build-toolbar-button-container {
      transform: translate(0,100%);
    }
    #build-toolbar-container #excels-message-container {
      transform: translate(0,-50%);
    }
  }
  @media screen and (max-width: 880px) {
    height: 90px;
  }
}

#leave-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.85);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility .5s;

  &.leave-modal-active {
    opacity: 1;
    visibility: visible;

    #leave-modal-inner {
      transform: translate(-50%,-50%);
    }
  }

  #leave-modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    transform: translate(-50%,-55%);
    transition: transform .25s;

    #leave-modal-callout {
      display: table;
      padding: 4em;
    }

    h1 {
    }

    #leave-cta-container {

      .cta:first-of-type {
        margin-right: .5em;
      }
    }
  }
}

// ANIMATIONS

@keyframes loading {
  0% {opacity: 1;}
  100% {opacity: .4;}
}
