{% extends "layouts/layout.html" %}

{% block title %}Maryland Excels — Build Your Own Snowman {% endblock %}
{% block content %}
  
  {% include "includes/navigation.html" %}

  <!-- ////////// IMAGES ////////// -->

  <!-- EXCELS HOLIDAY MESSAGE -->
  <img src="public/images/excels-holiday-message.png" id="excels-holiday-message" class="unstaged-image">

  <!--SCENES-->
  <img src="public/images/scene-classic.jpg" id="scene-classic" class="unstaged-image">
  <img src="public/images/scene-future.jpg" id="scene-future" class="unstaged-image">
  <img src="public/images/scene-western.jpg" id="scene-western" class="unstaged-image">

  <!--BASES-->
  <img src="public/images/base-classic.png" id="base-classic" data-strength="6" class="unstaged-image">
  <img src="public/images/base-future.png" id="base-future" data-strength="10" class="unstaged-image">
  <img src="public/images/base-western.png" id="base-western" data-strength="4" class="unstaged-image">

  <!--ARMS-->
  <img src="public/images/left-arm-classic.png" id="left-arm-classic" class="unstaged-image">
  <img src="public/images/left-arm-future.png" id="left-arm-future" class="unstaged-image">
  <img src="public/images/left-arm-western.png" id="left-arm-western" class="unstaged-image">
  <img src="public/images/right-arm-classic.png" id="right-arm-classic" class="unstaged-image">
  <img src="public/images/right-arm-future.png" id="right-arm-future" class="unstaged-image">
  <img src="public/images/right-arm-western.png" id="right-arm-western" class="unstaged-image">

  <!--TORSOS-->
  <img src="public/images/torso-classic.png" id="torso-classic" data-weight="3" class="unstaged-image">
  <img src="public/images/torso-future.png" id="torso-future" data-weight="7" class="unstaged-image">
  <img src="public/images/torso-western.png" id="torso-western" data-weight="1" class="unstaged-image">
  <img src="public/images/torso-classic-hopkins.png" id="torso-classic-hopkins" data-weight="2" class="unstaged-image">
  <img src="public/images/torso-future-hopkins.png" id="torso-future-hopkins" data-weight="6" class="unstaged-image">
  <img src="public/images/torso-western-hopkins.png" id="torso-western-hopkins" data-weight="0" class="unstaged-image">

  <!--HEADS-->
  <img src="public/images/head-classic.png" id="head-classic" data-weight="2" class="unstaged-image">
  <img src="public/images/head-future.png" id="head-future" data-weight="3" class="unstaged-image">
  <img src="public/images/head-western.png" id="head-western" data-weight="0" class="unstaged-image">

  <!--FACES-->
  <img src="public/images/face-classic.png" id="face-classic" class="unstaged-image">
  <img src="public/images/face-future.png" id="face-future" class="unstaged-image">
  <img src="public/images/face-western.png" id="face-western" class="unstaged-image">

  <!--HATS-->
  <img src="public/images/hat-classic.png" id="hat-classic" class="unstaged-image">
  <img src="public/images/hat-future.png" id="hat-future" class="unstaged-image">
  <img src="public/images/hat-western.png" id="hat-western" class="unstaged-image">

  <!-- ////////// AUDIO ////////// -->
  <audio loop id="audio-song">
    <source src="public/audio/christmas-in-brooklyn.mp3" type="audio/mpeg">
  </audio>

  <section id="intro-scene">
    <div id="intro-scene-title-container">
      <div id="intro-scene-title">
        <div id="intro-scene-title-inner-container">
          <div id="intro-scene-snowball" class="snowball-bg">
            <h1><span class="larger-text">BUILD</span>
              <br><small>
              YOUR OWN
              <br></small>
              SNOWMAN</h1>
          </div>
          <p class="white-text">Snowmen have quality standards, too.</p>
          <p class="white-text">Test your skills and see: can you can build a high quality snowman?</p>
          <div class="cta-container">
            <a href="javascript:;" class="cta js-to-build-mode">Get Started!</a>
          </div>
        </div>
      </div>
      <a href="http://www.marylandpublicschools.org" id="msde-link"><img src="public/images/msde-logo.jpg" alt="Maryland State Department of Education Logo"></a>
      <a href="http://education.jhu.edu/research/CTE" id="cte-link"><img src="public/images/cte-logo.png" alt="Johns Hopkins University - Center for Technology in Education Logo"></a>
    </div>
  </section>

  
  <section id="build-scene">
    <div id="background-slide-1" class="background-slide">
    </div>
    <div id="background-slide-2" class="background-slide">
    </div>
    <div id="background-slide-3" class="background-slide">
    </div>
    <canvas id="snowman-canvas">
    </canvas>
    <canvas id="snowman-offscreen-download-canvas">
    </canvas>
    <div id="build-buttons-container">
      <button id="build-button-prev" class="build-button" data-direction="prev">
         <div class="build-button-inner">
          <
        </div>
      </button>
      <button id="build-button-next" class="build-button" data-direction="next">
        <div class="build-button-inner">
         >
        </div>
      </button>
    </div>
    <a class="js-to-share-mode cta" href="javascript:;">TEST YOUR SNOWMAN!</a>
    <a class="js-back-to-build-mode cta cta-hidden" href="javascript:;">< BACK</a>
    <a id="js-audio-mute" href="javascript:;" >
      <svg width="100%" height="100%" viewBox="0 0 63 72.8">
        <path class="loud-path" d="M50.5,1.9c11.8,4.7,20.1,16.2,20.1,29.7c0,13.5-8.3,25-20.1,29.7"/>
        <path class="normal-path" d="M45.7,12.4c7.6,3,13,10.5,13,19.1c0,8.7-5.4,16.1-13,19.1"/>
        <path class="quiet-path" d="M41.1,23.6c3.1,1.3,5.4,4.3,5.4,7.9c0,3.6-2.2,6.7-5.4,7.9"/>
        <path class="speaker-path" d="M16.6,22.2l15.7-9.3v37.3l-15.7-9.3V22.2z M2,40.9h14.6V22.2H2V40.9z"/>
        <path class="muted-path" d="M44.9,39.9l16.7-16.7 M61.6,39.9L44.9,23.2"/>
      </svg>
    </a>

    <!-- SUCCESS MESSAGE -->
      <div id="success-scene-title" class="end-scene-title end-title-inactive">
        <div id="success-scene-title-inner-container" class="end-scene-title-inner-container">
          <div id="success-scene-snowball" class="end-scene-snowball snowball-bg">
            <img src="public/images/ui/success-check.png" alt= "Check">
            <h1><span class="larger-text">Success!</span></h1>
            <h2>You built a quality snowman!</h2>
          </div>
          <div class="cta-container">
              <a href="javascript:;" class="cta js-download">DOWNLOAD YOUR SNOWMAN</a><br>
              <share-button class="js-share">SHARE THIS PAGE</share-button>
          </div>
        </div>
      </div>

      <!-- FAILURE MESSAGE -->
      <div id="failure-scene-title" class="end-scene-title end-title-inactive">
        <div id="failure-scene-title-inner-container" class="end-scene-title-inner-container">
          <div id="failure-scene-snowball" class="end-scene-snowball snowball-bg">
            <img src="public/images/ui/failure-x.png" alt= "X">
            <h1><span class="larger-text">Whoops!</span></h1>
            <h2>Your snowman didn't pass!</h2>
          </div>
          <div class="cta-container">
              <a href="javascript:;" class="cta try-again js-back-to-build-mode">TRY AGAIN</a>
          </div>
        </div>
      </div>
  </section>

  <div id="build-toolbar">
    <div id="build-toolbar-container">
      <div id="build-toolbar-button-container">
        <div id="hat-button" class="build-toolbar-button build-toolbar-button-active" data-target="hat">
          <div class="button-text">HAT</div>
        </div>
        <div id="face-button" class="build-toolbar-button" data-target="face">
          <div class="button-text">FACE</div>
        </div>
        <div id="head-button" class="build-toolbar-button" data-target="head">
          <div class="button-text">HEAD</div>
        </div>
        <div id="torso-button" class="build-toolbar-button" data-target="torso">
          <div class="button-text">TORSO</div>
        </div>
        <div id="arms-button" class="build-toolbar-button" data-target="arms">
          <div class="button-text">ARMS</div>
        </div>
        <div id="base-button" class="build-toolbar-button" data-target="base">
          <div class="button-text">BASE</div>
        </div>
        <div id="scene-button" class="build-toolbar-button build-toolbar-last-button" data-target="scene">
          <div class="button-text">SCENE</div>
        </div>
      </div>
      <h2 id="testing-indicator">TESTING YOUR SNOWMAN'S QUALITY....</h2>
      <div id="excels-message-container">
        <p>Check out Maryland EXCELS to find out more about high-quality child and school-age care and education and locate a participating program near you!</p>
        <div id="excels-cta-container">
          <a class="cta cta-excels" href="http://www.marylandexcels.org" target="_blank">VISIT MARYLANDEXCELS.ORG</a>
        </div>
      </div>
    </div>
  </div>
  <div id="leave-modal">
    <div id="leave-modal-inner">
      <div id="leave-modal-callout" class="snowball-bg">
        <h1>HEY YOU!</h1>
      </div>
      <p>If you leave this page without downloading or sharing your snowman, he will be lost forever!</p>
      <p>Are you sure you want to leave?</p>
      <div id="leave-cta-container" class="cta-container">
        <a id="stay" class="cta" href="javascript:;">STAY</a>
        <a id="leave" class="cta" href="javascript:;">LEAVE</a>
      </div>
    </div>
  </div>
  
{% endblock %}