<header class="header-intro">
  <div class="header-container">
  	<div id="excels-logo">
  		<a href="http://www.marylandexcels.org" target="_blank"><img src="public/images/excels-logo.png" alt="Maryland Excels Logo"></a>
  		<p id="excels-tagline">
  			Check for Quality Early Childhood & School-Age Programs
  		</p>
  	</div>
  	<div id="title">
  		BUILD <small>YOUR OWN</small> SNOWMAN!
  	</div>
    <div id="header-cta-container">
      <a class="cta cta-excels header-cta js-to-share-mode" href="javascript:;">TEST YOUR SNOWMAN ></a>
      <a class="cta cta-excels header-cta js-back-to-build-mode cta-hidden" href="javascript:;">< BACK</a>
    </div>
  </div>
</header>